.kotak-dalam{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kotak{
    text-align : center

}

@font-face {
    font-family: 'orange-juice';
    src: url( '../../fonts/Orange-Juice.ttf' ) format('truetype') ;
}

.title{
    font-family : 'orange-juice';
    font-weight : 500
}

.text-atas{
    font-size : 25pt;
    color : rgb(153, 39, 31);
    line-height : 0.8;
}

.text-bawah {
    font-size : 45pt;
    color :  rgb(254, 63, 52);
    line-height : 0.8;

}
.juara-1{
    font-size : 25pt;
    color : rgb(89, 221, 246);
    
}
.juara-1 span {
    background-color: rgb(255, 243, 227);
    padding: 5px 20px;
    border-radius: 4px;
}
.juara-2{
    font-size : 25pt;
    color :  rgb(1, 95, 42);
}

.juara-3{
    font-size : 25pt;
    color : rgb(254, 63, 52);
}

body{
    background-color:  rgb(255, 243, 227);
    position: relative;
}

.nomor2 {
    position: absolute;
    top: -13%;
    left: -12%; 
    width: 75px;
}
.nomor1 {
    position: absolute;
    top: -13%;
    left: 50%; 
    width: 75px;
    transform: translateX(-50%);
}
.nomor3 {
    position: absolute;
    top: -13%;
    right: -12%; 
    width: 75px;
}
.outer {
    position: relative;

}
.burung {
    position: absolute;
    right: 3%;
    top: 7%;
}

.kiri {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 850.75px;
   
}
.tengah {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 310px;
    z-index: -1;
}

.kanan {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 394.99px;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .burung {
        top:14%;
    }
    .nomor1 {
        width: 55px;
    }

    .nomor2 {
        width: 55px;
    }
    
    .nomor3 {
        width: 55px;
    }
}
@media screen and (max-width: 575px) {
    .burung {
        display:none;
    }
    .nomor1 {
        top: -8%;
    }

    .nomor2 {
        top: -8%;
        left: -7%;
    }
    
    .nomor3 {
        top: -8%;
        right: -7%;
    }
}
@media screen and (max-width: 460px) {
    .nomor1 {
        top: -12%;
    }
}