body{
    background-color: #270000;
}
a{
    text-decoration: none;
    display: block;
}
a:hover{
    text-decoration: none;
}
.form-control.error{
    background-color: #ffffff;
    color: #b10000;
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("assets/img/error.svg");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.error.custom-file-label{
    background-color: #ffffff;
    color: #b10000;
    border-color: #dc3545!important;
    padding-right: calc(1.5em + .75rem);
    background-image: url("assets/img/error.svg");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.facheck{
    color: black;
    position: absolute;
    z-index: 1;
    left: 1px;
    right: 0px;
    top: 23px;
    speak: none;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.facheck{
    color: rgba(0, 0, 0, 0.2);
}
.active .facheck{
    color: #FFFFFF!important;
    /* font-size: 24px; */
    top: 21px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.disable {
    pointer-events: none;
    cursor: default;
}
.previous, .next {
    text-decoration: none;
    display: inline-block;
    border:none;
    background-color: white;
    padding: 8px 16px;
}

.previous:hover, .next:hover {
    font-weight: bold;
    background-color: #ddd;
}
.previous, .next{
    color:blue;
}
.hideBtn{
    display: none!important;
}
.form-control{
    background-color: #ffffff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    font-size: 14px;
}
@media (max-width:500px){
    .nav-pills > li > a {
        top: -29px;
    }
    .facheck{
        font-size: 16px;
    }
    .wizard-card .icon-circle{
        width: 50px;
        height: 50px;
        top: 4px;
        margin-bottom: 10px;
    }
    .nav-pills > li.active > a:after{
        width: 50px;
        height: 50px;
        right: 14px;
        top: 4px;
    }
    .facheck{
        top: 13px;
    }
    .active .facheck{
        top: 13px;
    }
    .navbar .navbar-nav > li > a.btn.btn-wd, .btn-wd{
        min-width:80px;
    }
}
@media (max-width:370px){
    .nav-pills > li.active > a:after{
        /* left:0!important; */
        right: 13px!important;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
        font-size: 10px;
    }
    .nav-pills > li > a{
        font-size: 10px;
            
    }
    /* .wizard-card .wizard-header h3{
        font-size: 15px;
    } */
    .anav{
        display: block!important;
        flex-wrap: nowrap!important;
    }
}
@media (max-width:300px){
    .nav-pills > li.active > a:after{
        /* left:0!important; */
        right:5px!important;
    }
}
.rules{
    overflow:hidden; 
    overflow-y:scroll;
    height:200px; 
    width: 100%;
    text-align: justify;
    padding: 10px;
}
.anav{
    display: flex;
    flex-wrap: wrap;
}
.checked .facheck{
    color:#b10000;
}