.group-wrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link_wrapper{
    position: relative;
}

.joingroup{
    border-radius: 45px;
    display: block;
    width: 310px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(120deg, #EBB930 0%, #E9C734 50%,#FFFF93 100%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .35s;
}

.icon{
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
}

.joingroup:hover{
    width: 300px;
    /* border: 3px solid #2ecc71; */
    background: #90d4ad;
    color: white;
}

.joingroup:hover + .icon{
    border: 3px solid #2ecc71;
    right: -10%;
}
.results-success-video{
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1;
    display:none;
}
.f-carneval{
    font-size: 55px;
}
@media only screen and (max-width: 1000px){
    .f-carneval{
        font-size: 45Wpx;
    }
}
.input-field {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.input-field input {
    height: 60px;
    width: 60px;
    border: 0;
    display: block;
    font-size: 18px;
    /* font-family: 'Poppins', sans-serif; */
    cursor: pointer;
}

.input-field input.placeholder {
    color: #ccc;
    font-size: 18px;
    font-weight: 300;
    opacity: 1;
}

.input-field input:-moz-placeholder {
    color: #ccc;
    font-size: 18px;
    font-weight: 300;
    opacity: 1;
}

.input-field input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 18px;
    font-weight: 300;
    opacity: 1;
}

.input-field input:hover,
.s128 form .inner-form .row .input-field .input-focus {
    box-shadow: none;
    outline: 0;
}

.input-field.first .clear {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: transparent;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease-out;
}

.input-field.first .clear svg {
    fill: #ccc;
    width: 22px;
    height: 22px;
}

.input-field.first .clear:hover,
.s128 form .inner-form .row .input-field.first .clear:focus {
    box-shadow: none;
    outline: 0;
}

.input-field.first .clear:hover svg,
.s128 form .inner-form .row .input-field.first .clear:focus svg {
    fill: #333;
}

.input-field.first input {
    padding: 10px 0 10px 60px;
    border-radius: 30px;
    width: 60px;
    transition: width .2s ease-in;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3e%3c/svg%3e");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 34px 34px;
}

#inputFocus:hover {
    width: 100%;
    padding-right: 60px;
    opacity: 1;
}

.input-field.first .input-focus {
    width: 100%;
    padding-right: 60px;
}

.input-field.first input.isFocus {
    width: 100%;
}

.input-field.first input.isFocus~.clear {
    opacity: 1;
}

.input-field.second input {
    padding: 10px 60px 10px 0;
    border-radius: 3px;
    width: 60px;
    transition: width .3s;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3e%3c/svg%3e");
    background-position: calc(100% - 14px) 14px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 34px 34px;
}

.input-field.second input.placeholder {
    color: #666;
    transition: opacity .1s;
}

.input-field.second input:-moz-placeholder {
    color: #666;
    transition: opacity .1s;
}

.input-field.second input::-webkit-input-placeholder {
    color: #666;
    transition: opacity .1s;
}

.input-field.second input:focus {
    width: 100%;
    padding-left: 15px;
}

.input-field.second input:focus.placeholder {
    opacity: 1;
}

.input-field.second input:focus:-moz-placeholder {
    opacity: 1;
}

.input-field.second input:focus::-webkit-input-placeholder {
    opacity: 1;
}


/*# sourceMappingURL=Searchs_128.css.map */

#submitbtn {
    display: none;
}

.results-success, .results-fail, .results-pending {
    margin-top: 240px;
    text-align: center;
    display: none;
}


.liquida {
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
}

.liquida span {
    position: relative;
    color: #fff;
    font-weight:bold;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}

a .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: linear-gradient(120deg, #EBB930 0%, #E9C734 50%,#FFFF93 100%);;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}

a .liquid::after, a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

a .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

a .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}

a:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}