
body{
    background: linear-gradient(180deg, #270000 0%, #5A3A31 100%);
    background-size: cover !important;
    color:white;
}
.polaroid-wrapper {
width: 100%;
/* padding: 0 2rem; */
text-align: center;
}
.polaroid {
background: #fff;
padding: 0.5rem;
box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}
.polaroid > img {
max-width: 100%;
height: auto;
}
.caption {
font-size: 1.8rem;
text-align: center;
line-height: 2em;
}
.item {
width: 30%;
display: inline-block;
margin-top: 2rem;
filter: grayscale(100%);
}
.item .polaroid:before {
content: "";
position: absolute;
z-index: -1;
transition: all 0.35s;
}
.item:nth-of-type(4n + 1) {
transform: scale(0.8, 0.8) rotate(5deg);
transition: all 0.35s;
}
.item:nth-of-type(4n + 1) .polaroid:before {
transform: rotate(6deg);
height: 20%;
width: 47%;
bottom: 30px;
right: 12px;
box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 2) {
transform: scale(0.8, 0.8) rotate(-5deg);
transition: all 0.35s;
}
.item:nth-of-type(4n + 2) .polaroid:before {
transform: rotate(-6deg);
height: 20%;
width: 47%;
bottom: 30px;
left: 12px;
box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 4) {
transform: scale(0.8, 0.8) rotate(3deg);
transition: all 0.35s;
}
.item:nth-of-type(4n + 4) .polaroid:before {
transform: rotate(4deg);
height: 20%;
width: 47%;
bottom: 30px;
right: 12px;
box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:nth-of-type(4n + 3) {
transform: scale(0.8, 0.8) rotate(-3deg);
transition: all 0.35s;
}
.item:nth-of-type(4n + 3) .polaroid:before {
transform: rotate(-4deg);
height: 20%;
width: 47%;
bottom: 30px;
left: 12px;
box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:hover {
filter: none;
transform: scale(1, 1) rotate(0deg) !important;
transition: all 0.35s;
}
.item:hover .polaroid:before {
content: "";
position: absolute;
z-index: -1;
transform: rotate(0deg);
height: 90%;
width: 90%;
bottom: 0%;
right: 5%;
box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
transition: all 0.35s;
}
h1{
color:white;
}
@media (max-width:1000px){
    .item{
    width: 49%;
    }
}
.polaroid-wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 0.5rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}
.polaroid > img {
  max-width: 100%;
  height: auto;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
}
h1{
  color:white;
}
.jcrop-widget .jcrop-handle{
    display:none;
    position:absolute;
    border:0px rgba(127,127,127,0.8) solid;
    width:10px;
    height:10px;
    box-sizing:border-box;
    background:transparent
}
/* .btn{
  
  background: #EBB930;
  background-image: linear-gradient(120deg, #EBB930 0%, #E9C734 50%,#FFFF93 100%);
} */
.bttn{
  border-radius:100px;
  background: linear-gradient(120deg, #EBB930 0%, #E9C734 50%,#FFFF93 100%);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
}
.btn-cont {
  text-align: center;
  cursor:pointer;
}
.btn-cont .bttn {
  position: relative;
  padding: 20px 70px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 1.125em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}
.btn-cont .bttn:hover {
  transition :0.4s;
  border-radius:0px;
  border: none;
}
.btn-cont .bttn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
          animation: move1 1500ms infinite ease;
}
.btn-cont .bttn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
          animation: move2 1500ms infinite ease;
}
.btn-cont .bttn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
          animation: move3 1500ms infinite ease;
}
.btn-cont .bttn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
          animation: move4 1500ms infinite ease;
}
.btn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  left: 0;
  bottom: 0;
}
.btn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  left: 0;
  top: 0;
}
.btn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  right: 0;
  top: 0;
}
.btn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}